// Виды форматов шрифтов:
// .ttf - TrueType / truetype
// .otf - OpenType / opentype
// .woff - Web Open File Format / woff
// .woff2 - Web Open File Format 2 / woff2

@font-face {
	font-family: 'RedHat-Light';
	src: url("../fonts/RedHat/RedHatDisplay-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'RedHat-Regular';
	src: url("../fonts/RedHat/RedHatDisplay-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'RedHat-Medium';
	src: url("../fonts/RedHat/RedHatDisplay-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'RedHat-SemiBold';
	src: url("../fonts/RedHat/RedHatDisplay-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'RedHat-Bold';
	src: url("../fonts/RedHat/RedHatDisplay-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'RedHat-ExtraBold';
	src: url("../fonts/RedHat/RedHatDisplay-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'RedHat-Black';
	src: url("../fonts/RedHat/RedHatDisplay-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}